<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:replace="fragments/header.html"></div>
<h1>Edit project</h1>

<form method="POST" th:action="@{/project/edit/${project.id}}" th:object="${project}">

    <input th:field="*{id}" type="hidden"/>

    <p>
    <div>Name:</div>
    <div>
        <input th:field="*{name}" type="text"/>
    </div>
    </p>

    <p>
    <div>Description:</div>
    <div>
        <input th:field="*{description}" type="text"/>
    </div>
    </p>

    <p>
    <div>Status:</div>
    <div>
        <select th:field="*{status}">
            <!-- <option  th:text="--- // ---" /> -->
            <option th:each="status: ${T(ru.t1consulting.nkolesnik.tm.enumerated.Status).values()}" th:text="${status}"
                    th:value="${status}"/>
        </select>
    </div>
    </p>

    <p>
    <div>Date begin:</div>
    <div>
        <input th:field="*{dateBegin}" type="date"/>
    </div>
    </p>

    <p>
    <div>Date end:</div>
    <div>
        <input th:field="*{dateEnd}" type="date"/>
    </div>
    </p>

    <button type="submit">Save project</button>
</form>

<div th:replace="fragments/footer.html"></div>
</body>
</html>