<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:replace="fragments/header.html"></div>
<h1>Tasks</h1>

<table border="1" cellpadding="10" style="border-collapse: collapse;" width="100%">
    <tr>
        <th nowrap="nowrap" width="200">Id</th>
        <th align="left" nowrap="nowrap" width="200">Name</th>
        <th align="left" width="100%">Description</th>
        <th align="center" nowrap="nowrap" width="150">Status</th>
        <th align="center" nowrap="nowrap" width="150">Created</th>
        <th align="center" nowrap="nowrap" width="100">Start Date</th>
        <th align="center" nowrap="nowrap" width="100">End Date</th>
        <th align="center" nowrap="nowrap" width="100">EDIT</th>
        <th align="center" nowrap="nowrap" width="100">DELETE</th>
    </tr>
    <tr th:each="task: ${tasks}">
        <td align="center" nowrap="nowrap" th:utext="${task.id}">...</td>
        <td align="center" nowrap="nowrap" th:utext="${task.name}">...</td>
        <td align="center" nowrap="nowrap" th:utext="${task.description}">...</td>
        <td align="center" nowrap="nowrap" th:utext="${task.status}">...</td>
        <td align="center" nowrap="nowrap" th:utext="${task.created}">...</td>
        <td align="center" nowrap="nowrap" th:utext="${task.dateBegin}">...</td>
        <td align="center" nowrap="nowrap" th:utext="${task.dateEnd}">...</td>
        <td align="center">
            <a th:href="@{'/task/edit/' + ${task.id}}">EDIT</a>
        </td>
        <td align="center">
            <a th:href="@{'/task/delete/' + ${task.id}}">DELETE</a>
        </td>
    </tr>
</table>

<form action="/task/create" method="GET" style="margin-top: 20px">
    <button>CREATE</button>
</form>

<div th:replace="fragments/footer.html"></div>
</body>
</html>